$color-primary: white;
$color-secondary: #7a3760;
$color-footer: #D39CBB;
$color-light-blue: #EDF5FE;
$color-lighter-blue: #F8F9FB;
$color-button: #F18872;
$color-grey-shadow: #a0a0a0;
$color-light-grey: #E6E7E8;
$color-button-hover: #F2E2E3;

$color-templateColor: #cd8db0;
$color-templateColor2: #FF8A73;
$color-whiteColor: #ffffff;