.header {
    width: 100vw;
    height: 100px;
    background-color: #7a3760;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(160, 160, 160);

    .container {
        width: 1320px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        align-items: center;
    }

    // a {
    //     font-family: 'Nunito', sans-serif;
    //     text-decoration: none;
    //     color: $color-primary;
    
    .header__logo {
        text-align: center;
        
        h1 a {
            font-family: "Nunito", sans-serif;
            color: $color-primary;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            text-decoration: none;
        }
    }
    

    .personalData {
        color: $color-lighter-blue;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-weight: 400;
        display: flex;
        gap: 30px;
    }
}